@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testMethod</title>
</head>
<body>
    <div>
        'test Controller' ke andar wale 'test method' ka view hai ye 
    </div>
</body>
</html>
